.navbar{
    font: bold 20px "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.5s ease, color 0.3s ease;
}
.navbarItem {
    float: left;
    height: 75%;
}
.navbarItem a {
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbarItemRight {
    float: right;
    background-color: green;
}
.navbarItem:hover {
    box-shadow: 1px 1px 10px 0px #a11ee8;
}

@media (orientation: portrait) {
    .navbar {
        height: 5vh;
        font-size: 40px;
    }

    .navbar a {
        align-items: center;
    }
}

