@media (orientation: portrait) {
    .subscriptionPanel {
        flex-wrap: wrap;
    }
}
.subscriptionPanel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding: 5%;
    width: 80%;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    transition: width 1s ease;
}